/* i can use that for loading spinner */
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 2s linear;
  }
} */

.card {
  padding: 2em;
}
