@import 'tailwindcss';

@theme {
  --breakpoint-xs: 30rem;
}

/* custom TailwindCSS colors */
@theme {
  --color-primary: #18467f;
  --color-primary-dark: #133a68;
  --color-green-tis: #06b655;
  --color-green-tis-dark: #034f25;
  --color-green-tis-light: #e8ffeb;
}

/* for development */
div {
  border: dashed 1px pink;
}

/* base styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}
